<div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid">
                <div class="grid-sizer"></div>

                <div class="post-card extra-padding">
                    <form id="setting-form">
                        <h2 class="post-subtitle">Basic Info</h2>
                        <span class="post-subtitle">Name</span>
                        <p><input name="name" class="form-control no-border" value="Felix S" /></p>
                        <span class="post-subtitle">About</span>
                        <p><textarea name="about" class="form-control no-border">My name is Felix</textarea></p>
                        <span class="post-subtitle">Hobbies</span>
                        <p><input name="hobbies" class="form-control no-border" value="Code" /></p>
                        <span class="post-subtitle">Birthday</span>
                        <p><input name="birthday" class="form-control no-border" value="August 23, 1998" /></p>
                        <button type="submit" class="btn btn-info btn-raised waves-effect">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>